<h2>List - add, remove, sort - JQ</h2>

<ul data-ars-jq-ul="">
	<li>
		<span>Adam</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-up="">Up</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-down="">Down</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-remove="">Remove</span>&nbsp;&nbsp;
	</li>
	<li>
		<span>Bertil</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-up="">Up</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-down="">Down</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-remove="">Remove</span>&nbsp;&nbsp;
	</li>
	<li>
		<span>Ceasar</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-up="">Up</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-down="">Down</span>&nbsp;&nbsp;
		<span data-ars-jq-ul-remove="">Remove</span>&nbsp;&nbsp;
	</li>
</ul>
<div data-ars-jq-input="">
	<input type="text" placeholder="Add name">
	<button>Add</button>
</div>